<div class="container">

        <div class="row">
            <div class="col-sm">
            
              </div>

          <div class="col-sm">
                
                        <div class="form-group">
                          <label for="input-marks" class="float-right">المجموع بالدرجات</label>
                          <input type="number" class="form-control" [(ngModel)]="Mark" id="input-marks" placeholder="المجموع">
                        </div>
                
                        <div class="form-group">
                          <label for="input-sections" class="float-right">القسم</label>
                          <select class="form-control" id="input-sections" [(ngModel)]="inputoptions" >
                            <option value="Science boys">علمي بنين</option>
                            <option value="Literature boys">ادبي بنين</option>
                            <option value="Literature girls">ادبي بنات</option>
                            <option value="Science girls">علمي بنات</option>
                            <option value="Islamic section">شعبة إسلاميه</option>
                          </select>
                        </div>

                        <button type="button" class="btn btn-primary" (click)="Searchbutton()" >بحث</button>
               
          </div>
          <div class="col-sm">
            
          </div>
        </div>

</div><!--container-->

<br>
<!--Lists-->
<div class="container">
<ul class="list-group" *ngIf="this.boolList">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of this.availableCollages">
          {{item.collage}}
          <span class="badge badge-primary badge-pill">{{item.mark}}</span>
        </li>
</ul>
</div>